*	{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Cinzel", sans-serif;
}

body {
	background: url(../images/bg.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	max-width: 800px;
	margin: auto;
}

.navbar.navbar-expand-lg.navbar-light a {
    color: white;
}

#form h5,label,small {
	color: white;
}

#footer a {
	color: white;
}