*	{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Cinzel", sans-serif;
}

body {
	background: url(../images/bg.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	max-width: auto;
	margin: auto;
}

.navbar.navbar-expand-lg.navbar-light a {
    color: white;
}

#aboutandcontactme h5,label,small {
	color: white;
}

#aboutandcontactme img {
	max-width: 70%;
	height: auto;
	margin: auto;
}

#aboutandcontactme .card-text {
	font-size: small;
}
#footer a {
	color: white;
}